<a href="https://colab.research.google.com/github/MaxSchock/Test/blob/main/2_3_4_matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Getting started with Matplotlib
==

# Loading data

## List

In [1]:
fibonacci = [1,1,2,3,5,8,13]

In [2]:
fifths = list(range(10,30,5))
fifths

[10, 15, 20, 25]

In [3]:
list(range(10,30,5))==[10, 15, 20, 25]

True

---
## Numpy array

In [4]:
import numpy as np
x = np.array([2,3,1,0])
type(x)

numpy.ndarray

In [5]:
np.linspace(3,5,20)

array([3.        , 3.10526316, 3.21052632, 3.31578947, 3.42105263,
       3.52631579, 3.63157895, 3.73684211, 3.84210526, 3.94736842,
       4.05263158, 4.15789474, 4.26315789, 4.36842105, 4.47368421,
       4.57894737, 4.68421053, 4.78947368, 4.89473684, 5.        ])

In [6]:
a = np.array([1, 2, 1])
b = np.array([2, 3, 8])
a*b

array([2, 6, 8])

---
## Pandas DataFrame

In [9]:
import pandas as pd

In [17]:
#for example
pd.read_csv('data/test.txt',sep='\t')

   year sex        wgt
0  2001   F  36.221914
1  2001   M  36.481844
2  2002   F  34.016799
3  2002   M  37.589905

# First plots with Matplotlib

## Importing the pyplot

In [ ]:
import matplotlib.pyplot as plt

---
## Line plot

In [ ]:
import matplotlib.pyplot as plt
t = [22.2,22.3,22.5,21.8,22.5,23.4,22.8]
plt.plot(t)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
t = [22.2,22.3,22.5,21.8,22.5,23.4,22.8]
plt.plot(t)

In [ ]:
plt.show()

In [ ]:
import matplotlib.pyplot as plt
t = [22.2,22.3,22.5,21.8,22.5,23.4,22.8]
plt.plot(t)
t = [22.2,22.3,22.5,21.8,22.5,23.4,22.8]
plt.plot(t)
plt.show()

In [ ]:
%matplotlib inline
plt.plot([1,2,3])

In [ ]:
plt.plot([1,2,3]);

In [ ]:
d = [11,12,13,14,15,16,17]
plt.plot(d,t)
plt.show()

# Scatter plot

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Set the random seed for Numpy function to keep the results reproducible
np.random.seed(42)

# Generate a 2 by 100 Numpy Array of random decimals between 0 and 1
r = np.random.rand(2,100)

# Plot the x and y coordinates of the random dots on a scatter plot
plt.scatter(r[0],r[1])

# Show the plot
plt.show()

# Multiline plots

In [ ]:
import matplotlib.pyplot as plt

# Prepare the data series
d = [11,12,13,14,15,16,17]
t0 = [15.3,15.4,12.6,12.7,13.2,12.3,11.4]
t1 = [26.1,26.2,24.3,25.1,26.7,27.8,26.9]
t2 = [22.3,20.6,19.8,21.6,21.3,19.4,21.4]

# Plot the lines for each data series
plt.plot(d,t0)
plt.plot(d,t1)
plt.plot(d,t2)

plt.show()

# Scatter plot to show clusters

In [ ]:
import matplotlib.pyplot as plt

# seed the random number generator to keep results reproducible
np.random.seed(123) 

# Generate 10 random numbers around 2 as x-coordinates of the first data series
x0 = np.random.rand(10)+1.5

# Generate the y-coordinates another data series similarly
np.random.seed(321) 
y0 = np.random.rand(10)+2
np.random.seed(456)
x1 = np.random.rand(10)+2.5
np.random.seed(789)
y1 = np.random.rand(10)+2
plt.scatter(x0,y0)
plt.scatter(x1,y1)

plt.show()

In [ ]:
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs

# make blobs with 3 centers with random seed of 23
blob_coords,features = make_blobs(centers=3, random_state=23)

# plot the blobs, with c value set to map colors to features
plt.scatter(blob_coords[:, 0], blob_coords[:, 1], marker='x', c=features) 
plt.show()

# Adding a trendline over a scatter plot

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

np.random.seed(100)
x = list(range(10))
y = x+np.random.rand(10)-0.5
fit = np.polyfit(x,y,1)
print(fit)
yfit = [n*fit[0] for n in x]+fit[1]
plt.scatter(x,y)
plt.plot(yfit,'black')

plt.show()

---
# Adjusting axes, grids, labels, titles and legends

# Adjusting axis limits

In [ ]:
import matplotlib.pyplot as plt

d = [11,12,13,14,15,16,17]

t0 = [15.3,12.6,12.7,13.2,12.3,11.4,12.8]
t1 = [26.1,26.2,24.3,25.1,26.7,27.8,26.9]
t2 = [22.3,20.6,19.8,21.6,21.3,19.4,21.4]

plt.plot(d,t0)
plt.plot(d,t1)
plt.plot(d,t2)

plt.xlim(11,15)
plt.ylim(0,30)

plt.show()

# Adding axis labels

In [ ]:
import matplotlib.pyplot as plt

d = [11,12,13,14,15,16,17]

t0 = [15.3,12.6,12.7,13.2,12.3,11.4,12.8]
t1 = [26.1,26.2,24.3,25.1,26.7,27.8,26.9]
t2 = [22.3,20.6,19.8,21.6,21.3,19.4,21.4]

plt.plot(d,t0)
plt.plot(d,t1)
plt.plot(d,t2)

plt.xlim(11,15)
plt.ylim(0,30)

plt.xlabel('Date',size=12,fontweight='semibold')
plt.ylabel('Temperature (°C)',size=12,fontweight='semibold')

plt.show()

# Adding a grid

In [ ]:
import matplotlib.pyplot as plt

d = [11,12,13,14,15,16,17]

t0 = [15.3,12.6,12.7,13.2,12.3,11.4,12.8]
t1 = [26.1,26.2,24.3,25.1,26.7,27.8,26.9]
t2 = [22.3,20.6,19.8,21.6,21.3,19.4,21.4]

plt.plot(d,t0)
plt.plot(d,t1)
plt.plot(d,t2)

plt.xlim(11,15)
plt.ylim(0,30)

plt.xlabel('Date',size=12,fontweight='semibold')
plt.ylabel('Temperature (°C)',size=12,fontweight='semibold')

plt.grid(True)

plt.show()

In [ ]:
import matplotlib.pyplot as plt

d = [11,12,13,14,15,16,17]

t0 = [15.3,12.6,12.7,13.2,12.3,11.4,12.8]
t1 = [26.1,26.2,24.3,25.1,26.7,27.8,26.9]
t2 = [22.3,20.6,19.8,21.6,21.3,19.4,21.4]

plt.plot(d,t0)
plt.plot(d,t1)
plt.plot(d,t2)

plt.xlim(11,15)
plt.ylim(0,30)

plt.xlabel('Date',size=12,fontweight='semibold')
plt.ylabel('Temperature (°C)',size=12,fontweight='semibold')

plt.grid(True,linewidth=0.5,color='#aaaaaa',linestyle='-')

plt.show()

# Adding a title

In [ ]:
import matplotlib.pyplot as plt

d = [11,12,13,14,15,16,17]

t0 = [15.3,12.6,12.7,13.2,12.3,11.4,12.8]
t1 = [26.1,26.2,24.3,25.1,26.7,27.8,26.9]
t2 = [22.3,20.6,19.8,21.6,21.3,19.4,21.4]

plt.plot(d,t0)
plt.plot(d,t1)
plt.plot(d,t2)

plt.xlim(11,15)
plt.ylim(0,30)

plt.xlabel('Date',size=12,fontweight='semibold')
plt.ylabel('Temperature (°C)',size=12,fontweight='semibold')

plt.grid(True,linewidth=0.5,color='#aaaaaa',linestyle='-')
plt.title("Daily temperature of 3 cities in the second week of December", size=14, fontweight='bold')

plt.show()

# Adding a legend

In [ ]:
import matplotlib.pyplot as plt

d = [11,12,13,14,15,16,17]

t0 = [15.3,12.6,12.7,13.2,12.3,11.4,12.8]
t1 = [26.1,26.2,24.3,25.1,26.7,27.8,26.9]
t2 = [22.3,20.6,19.8,21.6,21.3,19.4,21.4]

plt.plot(d,t0,label='Tokyo')
plt.plot(d,t1,label='Hawaii')
plt.plot(d,t2,label='Hong Kong')

plt.xlim(11,15)
plt.ylim(0,30)

plt.xlabel('Date',size=12,fontweight='semibold')
plt.ylabel('Temperature (°C)',size=12,fontweight='semibold')

plt.grid(True,linewidth=0.5,color='#aaaaaa',linestyle='-')

plt.title("Daily temperature of 3 cities in the second week of December", size=14, fontweight='bold')

plt.legend(loc=(0.64,0.1))
plt.show()

# A complete example

In [ ]:
# Import relevant modules
import pandas as pd
import matplotlib.pyplot as plt

# Import dataset
crop_prod = pd.read_csv('OECD-THND_TONNES.txt',delimiter='\t')
years = crop_prod[crop_prod['Crop']=='SOYBEAN']['Year']
rice = crop_prod[crop_prod['Crop']=='RICE']['Value']
wheat = crop_prod[crop_prod['Crop']=='WHEAT']['Value']
maize = crop_prod[crop_prod['Crop']=='MAIZE']['Value']
soybean = crop_prod[crop_prod['Crop']=='SOYBEAN']['Value']

# Plot the data series
plt.plot(years, rice, label='Rice')
plt.plot(years, wheat, label='Wheat')
plt.plot(years, maize, label='Maize')
plt.plot(years, soybean, label='Soybean')

# Label the x- and y-axes
plt.xlabel('Year',size=12,fontweight='semibold')
plt.ylabel('Thousand tonnes',size=12,fontweight='semibold')

# Add grid
plt.grid(linestyle='--',color='#888888',alpha=0.4)

# Add the title and legend
plt.title('Total OECD crop production in 1995-2016', size=14, fontweight='semibold')
plt.legend()

# Show the figure
plt.show()

# Saving plots to a file

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

y = np.linspace(1,2000)
x = 1.0/np.sin(y)

plt.plot(x,y,'green')
plt.xlim(-20,20)
plt.ylim(1000,2400)
plt.show()
plt.savefig('123')

---
# Jupyter support

## Interactive navigation toolbar

In [ ]:
%matplotlib notebook

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

y = np.linspace(1,2000)
x = 1.0/np.sin(y)

plt.plot(x,y,'green')
plt.xlim(-20,20)
plt.ylim(1000,2400)
plt.show()

revert to inline output mode

In [ ]:
%matplotlib inline

# Configuring Matplotlib

In [ ]:
import matplotlib as mpl
mpl.matplotlib_fname()